.container {
  padding: 20px;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  width: max-content;
}
